<article class="article js-bio">

	<h2 class="header-medium">Biography</h2>
	<p class="text-big">
		I'm a Frontend Developer from Lund, Sweden with about 1,5 years of experience. I'm currently working at <a class="links" href="http://www.istone.com">iStone</a>
		and we're developing e-commerce sites to our customers on various platforms. My work experience has given me skills within the areas I've listed to the right.
	</p>
	<br/>
	<p class="text-big">
		I've got a bachelor degree in System Science from Lund University and in my spare time I've done a lot of
		online courses in various coding languages to extend my knowledge as much as possible.
	</p>
	<br/>
	<p class="text-big">
		When I'm not coding I'm probably spending time with my family, cooking, working out, watching sports or being active on the stock market.
	</p>
</article>