<article class="article js-bio">

	<h2 class="header-medium">Biography</h2>
	<p class="text-big">
		I'm a Front End Developer from Lund, Sweden with about 1,5 years of experience. My current place of employment is  <a class="links" href="http://www.istone.com">iStone</a>,
		a company that develops e-commerce sites to its customers on various platforms.
		My work experience has given me skills within the areas I've listed to the right.
	</p>
	<br/>
	<p class="text-big">
		I've got a bachelor's degree in System Science from Lund University. In my spare time I've also done a lot of
		online courses in various coding languages to extend my knowledge as much as possible.
	</p>
	<br/>
	<p class="text-big">
		When I'm not coding I'm spending time with my family, cooking, working out, watching sports or being active on the stock market.
	</p>
</article>