<article class="article js-education">
	<h2 class="header-medium">Education</h2>
	<ul class="work-exp">
		<li class="work-exp__card">
			<h3 class="header-medium">System science - Bachelor's degree</h3>
			<a href="http://www.istone.com" class="text-big">180 HP - Lund University</a>
			<br/>
			<br/>
			<strong class="text-normal"><time>2010</time> - <time>2013</time></strong>
		</li>
		<li class="work-exp__card">
			<h3 class="header-medium">Visual Basic - Basic course</h3>
			<a href="http://www.istone.com" class="text-big">7.5 HP - Lund University</a>
			<br/>
			<br/>
			<strong class="text-normal"><time>2012-06</time> - <time>2012-07</time></strong>
		</li>
		<li class="work-exp__card">
			<h3 class="header-medium">C# Basic course</h3>
			<a href="http://www.istone.com" class="text-big">7.5 HP - Lund University</a>
			<br/>
			<br/>
			<strong class="text-normal"><time>2012-06</time> - <time>2012-07</time></strong>
		</li>
	</ul>
</article>