</body>
<footer class="footer">

	<ul class="contact-list js-contact">
		<li><i class="icon icon-mail"></i>simon@brynskog.se</li>
		<li><i class="icon-twitter-bird"></i><a target="_blank" href="https://twitter.com/BrynskogSimon">BrynskogSimon</a></li>
		<li><i class="icon-linkedin-rect"></i><a target="_blank" href="https://se.linkedin.com/in/simonbrynskog">Simon Brynskog</a></li>
		<li><i class="icon-github-circled"></i><a target="_blank" href="https://github.com/Brynskog">Simon Brynskog</a></li>
	</ul>