<header class="header">
	<h1>Simon Brynskog</h1>
	<p>an online resumé</p>
	<ul class="contact-list header__contact-list">
		<li><i class="icon icon-mail"></i>simon@brynskog.se</li>
		<li><i class="icon-twitter-bird"></i><a href="https://twitter.com/BrynskogSimon">BrynskogSimon</a></li>
		<li><i class="icon-linkedin-rect"></i><a href="https://se.linkedin.com/in/simonbrynskog">Simon Brynskog</a></li>
		<li><i class="icon-skype-outline"></i>simon.brynskog</li>
	</ul>
</header>
<nav class="main-nav">
	<ul class="main-nav__list js-main-nav__list">
		<li class="active"><a class="js-bio__trigger">Biography</a></li>
		<li><a class="js-work-exp__trigger">Work experience</a></li>
		<li><a class="js-education__trigger">Education</a></li>
		<li><a class="js-online__trigger">Online courses</a></li>
		<li><a class="js-skills__trigger">Skills</a></li>
		<li class="main-nav__list--last"><a class="js-contact__trigger">Contact</a></li>
	</ul>
	<a class="icon-align-justify js-mobile-menu__trigger"></a>
</nav>