<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simon Brynskog</title>
	<meta charset="UTF-8">
	<meta name="description" content="Simon Brynskog - an online resumé">
	<meta name="keywords" content="HTML,CSS,SASS,AngularJS,JavaScript,jQuery,Front End,Frontend,developer,software development,code,CV,Simon,Brynskog">
	<meta name="author" content="Simon Brynskog">
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Eczar|Gentium+Basic" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>