<article class="article js-online">
	<h2 class="header-medium">Online courses</h2>
	<ul class="work-exp">
		<li class="work-exp__card">
			<h2 class="header-medium">Css level 1</h2>
			<a href="https://www.codeschool.com/users/Brynskog" class="text-big">Codeschool</a>
			<br/>
			<br/>
			<strong class="text-normal">
				<time>2015-01</time>
			</strong>
		</li>
		<li class="work-exp__card">
			<h2 class="header-medium">Javascript level 1</h2>
			<a href="https://www.codeschool.com/users/Brynskog" class="text-big">Codeschool</a>
			<br/>
			<br/>
			<strong class="text-normal">
				<time>2015-01</time>
			</strong>
		</li>
		<li class="work-exp__card">
			<h2 class="header-medium">Javascript level 2</h2>
			<a href="https://www.codeschool.com/users/Brynskog" class="text-big">Codeschool</a>
			<br/>
			<br/>
			<strong class="text-normal">
				<time>2015-05</time>
			</strong>
		</li>
	</ul>
	<ul class="work-exp">
		<li class="work-exp__card">
			<h2 class="header-medium">AngularJS level 1</h2>
			<a href="https://www.codeschool.com/users/Brynskog" class="text-big">Codeschool</a>
			<br/>
			<br/>
			<strong class="text-normal">
				<time>2015-08</time>
			</strong>
		</li>
		<li class="work-exp__card">
			<h2 class="header-medium">AngularJS level 2</h2>
			<a href="https://www.codeschool.com/users/Brynskog" class="text-big">Codeschool</a>
			<br/>
			<br/>
			<strong class="text-normal">
				<time>2015-08</time>
			</strong>
		</li>
		<li class="work-exp__card">
			<h2 class="header-medium">Responsive development level 1</h2>
			<a href="https://www.codeschool.com/users/Brynskog" class="text-big">Codeschool</a>
			<br/>
			<br/>
			<strong class="text-normal">
				<time>2015-10</time>
			</strong>
		</li>
	</ul>
	<ul class="work-exp">
		<li class="work-exp__card">
			<h2 class="header-medium">Web animations level 1</h2>
			<a href="https://www.codeschool.com/users/Brynskog" class="text-big">Codeschool</a>
			<br/>
			<br/>
			<strong class="text-normal">
				<time>2015-10</time>
			</strong>
		</li>
		<li class="work-exp__card">
			<h2 class="header-medium">SASS level 1</h2>
			<a href="https://www.codeschool.com/users/Brynskog" class="text-big">Codeschool</a>
			<br/>
			<br/>
			<strong class="text-normal">
				<time>2015-12</time>
			</strong>
		</li>
		<li class="work-exp__card">
			<h2 class="header-medium">NodeJS level 1</h2>
			<a href="https://www.codeschool.com/users/Brynskog" class="text-big">Codeschool</a>
			<br/>
			<br/>
			<strong class="text-normal">
				<time>2016-02</time>
			</strong>
		</li>
	</ul>
</article>