<article class="article js-skills">
	<h2 class="header-medium">Skills</h2>
	<p class="normal-text">This section describes the different techniques which I master, in a scale from 1-5</p>
	<dl class="skills-list">
		<dt class="skills-list__skill text-big">HTML</dt>
		<dd class="skills-list__grade text-big">4/5</dd>
		<dt class="skills-list__skill text-big">CSS</dt>
		<dd class="skills-list__grade text-big">4/5</dd>
		<dt class="skills-list__skill text-big">SASS</dt>
		<dd class="skills-list__grade text-big">3/5</dd>
		<dt class="skills-list__skill text-big">LESS</dt>
		<dd class="skills-list__grade text-big">3/5</dd>
		<dt class="skills-list__skill text-big">jQuery</dt>
		<dd class="skills-list__grade text-big">3/5</dd>
		<dt class="skills-list__skill text-big">Bootstrap</dt>
		<dd class="skills-list__grade text-big">3/5</dd>
		<dt class="skills-list__skill text-big">Javascript</dt>
		<dd class="skills-list__grade text-big">2/5</dd>
		<dt class="skills-list__skill text-big">AngularJS 1</dt>
		<dd class="skills-list__grade text-big">2/5</dd>
		<dt class="skills-list__skill text-big">NodeJS</dt>
		<dd class="skills-list__grade text-big">1/5</dd>
	</dl>
</article>
