<article class="article js-work-exp">

	<h2 class="header-medium">Work experience</h2>

	<ul class="work-exp">
		<li class="work-exp__card">
			<h2 class="header-medium">Front End Developer</h2>
			<a href="http://www.istone.com" class="text-big">iStone</a>
			<br/>
			<br/>
			<strong class="text-normal">
				<time>2016-05</time>
				-
				<time>Current</time>
			</strong>
		</li>
		<li class="work-exp__card">
			<h2 class="header-medium">Front End Developer</h2>
			<a href="http://www.chainformation.com" class="text-big">Chainformation</a>
			<br/>
			<br/>
			<strong class="text-normal">
				<time>2015-09</time>
				-
				<time>2016-05</time>
			</strong>
		</li>
		<li class="work-exp__card">
			<h2 class="header-medium">Fullstack Developer & Technical support</h2>
			<a href="http://www.chainformation.com" class="text-big">Chainformation</a>
			<br/>
			<br/>
			<strong class="text-normal">
				<time>2013-09</time>
				-
				<time>2015-09</time>
			</strong>
		</li>
	</ul>
</article>