.contact-list{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 auto;

  li, a{
    color: $color-white;
    text-decoration: none;
  }

  li{
    padding: 0 20px;
    margin-left: -4px;

    @media screen and (max-width: $tablet){
      margin: 10px 0;
      text-align: center;
    }
  }

  @media screen and (max-width: $tablet){
    flex-direction: column;
  }
}