.header-big{
  font-family: 'Eczar', serif;
  font-size: 30px;
  font-weight: normal;
}

.header-medium{
  font-family: 'Eczar', serif;
  font-size: 24px;
  font-weight: normal;
}

.header-small{
  font-family: 'Eczar', serif;
  font-size: 18px;
  font-weight: normal;
}

.text-big{
  font-family: 'Gentium Basic', serif;
  font-size: 17px;
}
.normal-text{
  font-family: 'Gentium Basic', serif;
  font-size: 15px;
  font-weight: normal;
}