/* Colors */

$color-primary-0: #502C73;	// Main Primary color */
$color-primary-1: #9277AC;
$color-primary-2: #6F4D8F;
$color-primary-3: #351456;
$color-primary-4: #1F0439;

$color-secondary-1-0: #933157;	// Main Secondary color */
$color-secondary-1-1: #DC93AF;
$color-secondary-1-2: #B85C7F;
$color-secondary-1-3: #6E1236;
$color-secondary-1-4: #49001C;

$color-third-0: #2E4272;	// Main third color (2) */
$color-third-1: #7887AB;
$color-third-2: #4F618F;
$color-third-3: #162856;
$color-third-4: #061539;

$color-white: #fff;
$color-grey: #D3D3D3;
$color-black: #000;

/* ----------- */

/* Breakpoints */

$desktop: 1100px;
$tablet: 768px;
$mobile: 425px;

/* ----------- */
